<form [formGroup]="f">
    <div content="row-fluid" id="box-create-video">

        <div class="col-sm-8 p-l-0">
            <div class="widget border-radius-0 shadow-div">
                <h4>Thông tin video</h4>
                <div class="control-group" [ngClass]="{'has-success': f.controls['title'].valid,
                        'has-error': f.controls['title'].invalid &&
                        (f.controls['title'].touched ||
                        f.controls['title'].dirty)}
                        ">
                    <label class="control-label">Tiêu đề</label>
                    <input formControlName="title" required="" type="text" id="must" class="form-control">
                </div>
                <div class="control-group" id="description_video" [ngClass]="{'has-success': f.controls['description'].valid,
                        'has-error': f.controls['description'].invalid &&
                        (f.controls['description'].touched ||
                        f.controls['description'].dirty)}
                        ">
                    <label class="control-label">Mô tả ngắn</label>
                    <textarea formControlName="description" required="" class="form-control video_description"></textarea>
                </div>
                <div class="control-group" id="video_publish">
                    <label class="control-label">Ngày xuất bản</label>
                    <input formControlName="publish_at" type="text" class="form-control">
                </div>
                <div class="control-group">
                    <label class="control-label">Chuyên mục chính</label>
                    <select2 name="category" [data]="CategoryData" [value]="currentValue" (valueChanged)="valueChanged($event)"
                             [options]="{ placeholder: 'Chọn chuyên mục' }"></select2>
                </div>
                <div class="control-group">
                    <label class="control-label">Chuyên mục phụ</label>
                    <input formControlName="sub_category" class="form-control" type="text">
                </div>
                <div class="control-group">
                    <label class="control-label">Tag liên quan</label>
                    <input formControlName="tags" class="form-control" type="text">
                </div>
                <div class="control-group">
                    <label class="control-label">Nguồn</label>
                    <input formControlName="source" class="form-control" type="text">
                </div>
                <div class="control-group">
                    <label class="control-label">Video nổi bật</label>
                    <input type="checkbox" name="checkboxA" style="width: 10px">
                </div>
            </div>
        </div>

        <div class="col-sm-4 p-0">

            <div class="widget border-radius-0 shadow-div">
                <h4>Video</h4>
                <div class="VideoUploadLoadWrapper control-group">
                    <div class="VideoUploadInputWrapper">
                        <div class="ims-video-upload-control-wrapper">
                            <label class="ims-video-upload-label" id="InputTypeFileTxt" data-toggle="modal" data-target="#__mediaUploadVideo">+ Chèn Video</label>
                            <input type="hidden" formControlName="content" [ngModel]="contentVideo"  class="form-control">
                            <app-media-video (messageEvent)="eventReceiveVideoInsert($event)"></app-media-video>
                        </div>
                    </div>
                    <div *ngIf="insertVideo">
                        <video *ngIf="videoInsertUrl" id="preview_video_content{{ idVideoInsert }}"
                               class="video-js vjs-big-play-centered"
                               controls
                               preload="auto"
                               height="280"
                               style="width:100%">
                            <source [src]=" environment.storage_url + videoInsertUrl" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>

            <div class="widget border-radius-0 shadow-div" *ngIf="insertVideo">
                <h4>Ảnh đại diện</h4>
                <div class="control-group">
                    <ul id="CMSVideoEditItemAvatarChoose">
                        <li *ngFor="let thumb of thumbsVideo;  let idx = index">
                            <label for="VMVideoEditItemAvatarChoose0">
                                <img src="{{ environment.storage_url + thumb.value }}">
                            </label>
                            <input type="radio" formControlName="thumbnails" id="VMVideoEditItemAvatarChoose0"
                                   [checked]="idx === 0"
                                   [value]="thumb.value">
                        </li>
                    </ul>
                </div>
            </div>

            <div class="widget border-radius-0 shadow-div">
                <h4>Thông tin SEO</h4>
                <div class="control-group">
                    <label class="control-label">Meta title</label>
                    <input formControlName="seo_title" type="text" class="form-control">
                </div>
                <div class="control-group">
                    <label class="control-label">Meta keyword</label>
                    <input formControlName="seo_keywords" type="text" class="form-control">
                </div>
                <div class="control-group">
                    <label class="control-label">Meta description</label>
                    <textarea formControlName="seo_description" class="video_seo_description form-control" ></textarea>
                </div>
            </div>

        </div>
        <div class="clearfix"></div>
        <div id="stack-controls" class="list-controls scroll-to-fixed-fixed">
            <div class="btn-toolbar">
                <div class="btn-group">
                    <button name="cancel" type="button" value="Cancel" onclick="location.href='videos.php'" class="btn btn-small btn-normal btn-strong">
                        <i class="fa fa-arrow-left"></i> Quay lại
                    </button>
                </div>
                <div class="btn-group">
                    <button name="submit" type="submit" value="Save" class="btn btn-info btn-small btn-strong" [disabled]="f.invalid" (click)="onSubmit()">
                        <i class="fa fa-save"></i> Lưu video
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>