<div class="widget border-radius-0 shadow-div" formGroupName="seo_infomation">
    <h4>Thông tin SEO</h4>
    <div class="control-group">
        <label class="control-label">Meta title</label>
        <input formControlName="seo_title" type="text" class="form-control">
    </div>
    <div class="control-group">
        <label class="control-label">Meta keyword</label>
        <input formControlName="seo_keywords" type="text" class="form-control">
    </div>
    <div class="control-group">
        <label class="control-label">Meta description</label>
        <textarea formControlName="seo_description" class="video_seo_description form-control" ></textarea>
    </div>
</div>